[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
pytest = "*"
flake8 = "*"
bandit = "*"
pytest-flask = "*"
ipdb = "*"
httmock = "*"

[packages]
gunicorn = "*"
bandit = "==1.5.0"
flask = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest ."
lint = "flake8 ."
run = "flask run --host=0.0.0.0 --port=8080"
security = "bandit -r ."
