[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
pytest = "*"
webtest = "*"
flake8 = "*"
bandit = "*"

[packages]
bottle = "*"
gunicorn = "*"
bandit = "==1.5.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest ."
lint = "flake8 ."
run = "python -m bottle tomaco.app"
security = "bandit -r ."
