[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
coverage = "==4.5.3"
coveralls = "==1.8.1"
flake8 = "*"
httmock = "*"
ipdb = "*"
pre-commit = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "==2.7.1"
python-coveralls = "==2.9.2"
pytest-mock = "*"

[packages]
gunicorn = "*"
flask = "*"
requests = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest ."
test_coverage = "pytest --cov=tomaco --cov-report term-missing tomaco"
lint = "flake8 ."
run = "flask run --host=0.0.0.0 --port=8080"
security = "bandit -r ."
