{% extends "base.html" %} {% block content %}
<div class="timer">
  <span class="timer__display" id="timer__display">25:00</span>
  <button
    class="waves-effect waves-light btn-large red lighten-2 timer__button"
    id="timer__button"
  >
    Start!
  </button>
  <button
    class="waves-effect waves-light btn-large blue lighten-2 pause__button"
    id="pause__button"
    disabled
  >
    Pause!
  </button>
  <div class="timer__finished_counter" id="timer__finished_counter"></div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script>
  const Timer = require("frontend/js/main.js").default;
  const $display = document.getElementById("timer__display");
  const $button = document.getElementById("timer__button");
  const $finishedCounter = document.getElementById("timer__finished_counter");
  const $pauseButton = document.getElementById("pause__button");

  Timer.build($display, $button, $finishedCounter, $pauseButton);

  // Request permission to send notifications
  Notification.requestPermission();
</script>
{% endblock %}
